@media (prefers-color-scheme: light) {
    body {
        background-color: black;
    }

    button {
        color: white;
        background-color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
    }

    button {
        color: black;
        background-color: white;
    }
}

#albums {
    position: fixed;
    top: 5%;
    right: 2%;
    width: 25%;
    max-width: 300px;
    height: 90%;
    border-style: none;
}

#control {
    position: fixed;
    top: 5%;
    left: 2%;
    width: 70%;
    height: 80%;
    border-style: none;
}

button {
    position: fixed;
    font-size: 25px;
    text-align: center;
    border-style: none;
}

#poweroff {
    left: 5%;
    bottom: 5%;
    font-weight: bold;
}

#getcd {
    left: 23%;
    bottom: 5%;
    font-weight: bold;
}

#scrollup {
    left: 41%;
    bottom: 5%;
}

#scrolldown {
    left: 59%;
    bottom: 5%;
}