@media (prefers-color-scheme: light) {
    b {
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    b {
        color: black;
    }
}

audio {
    position: fixed;
    bottom: 20%;
    width: 80%;
}

div {
    display: flex;
}

b {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}