@media (prefers-color-scheme: dark) {
    b {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    b {
        color: black;
    }
}

div {
    display: flex;
}

b {
    padding: 20px;
}
