@media (prefers-color-scheme: dark) {
    #albumtitle {
        color: lightcyan;
        background-color: black;
    }

    #album {
        color: white;
    }

    .tracktitle {
        color: white;
    }

    #rate {
        color: lightcyan;
    }
}

@media (prefers-color-scheme: light) {
    #albumtitle {
        color: indigo;
        background-color: white;
    }

    #album {
        color: black;
    }

    .tracktitle {
        color: black;
    }

    #rate {
        color: indigo;
    }
}

body {
    font-size: 20px;
}

#albumtitle {
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

#artist {
    padding-top: 0;
    padding-left: 2px;
    font-size: 110%;
}

#album {
    padding-top: 0;
    padding-left: 4px;
}

#rate {
    padding-top: 0;
    padding-left: 6px;
    font-size: 80%;
}

tr {
    vertical-align: text-top;
}

.tracknumber {
    color: gray;
    width: 6%;
    padding-top: 2px;
    padding-left: 2px;
}

.tracktitle {
    padding-top: 2px;
    padding-left: 4px;
}