body {
    font-size: 20px;
}

#albumtitle {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #cec5b7;
    font-weight: bold;
    padding-bottom: 6px;
}

#artist {
    padding-top: 0;
    padding-left: 2px;
    font-size: 110%;
}

#album {
    color: white;
    padding-top: 0;
    padding-left: 4px;
}

#rate {
    color: gray;
    padding-top: 0;
    padding-left: 6px;
    font-size: 80%;
}

tr {
    vertical-align: text-top;
}

.tracknumber {
    color: white;
    width: 6%;
    padding-top: 2px;
    padding-left: 2px;
}

.tracktitle {
    padding-top: 2px;
    padding-left: 4px;
}