@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    button {
        color: white;
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    button {
        color: black;
        background-color: white;
    }
}

#albums {
    position: fixed;
    top: 0;
    right: 2%;
    width: 25%;
    max-width: 300px;
    height: 95%;
    border-style: none;
}


/*
.tracks {
    position: fixed;
    top: 0;
    left: 2%;
    width: 70%;
    height: 87%;
    border-style: none;
}

.cdcontrol {
    position: fixed;
    top: 40%;
    left: 2%;
    width: 70%;
    height: 47%;
    border-style: none;
}

button {
    position: fixed;
    font-size: 25px;
    text-align: center;
    border-style: none;
}

#poweroff {
    left: 5%;
    bottom: 5%;
}

#getcd {
    left: 23%;
    bottom: 5%;
}

#scrollup {
    left: 41%;
    bottom: 5%;
}

#scrolldown {
    left: 59%;
    bottom: 5%;
}*/
