@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    button {
        color: white;
        background-color: black;
    }

    #albumtitle {
        color: lightcyan;
        background-color: black;
    }

    #album {
        color: white;
    }

    .tracktitle {
        color: white;
    }

    #rate {
        color: lightcyan;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    button {
        color: black;
        background-color: white;
    }

    #albumtitle {
        color: indigo;
        background-color: white;
    }

    #album {
        color: black;
    }

    .tracktitle {
        color: black;
    }

    #rate {
        color: indigo;
    }
}

body {
    font-size: 20px;
}

#albumtitle {
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

#artist {
    padding-top: 0;
    padding-left: 2px;
    font-size: 110%;
}

#album {
    padding-top: 0;
    padding-left: 4px;
}

#rate {
    padding-top: 0;
    padding-left: 6px;
    font-size: 80%;
}

tr {
    vertical-align: text-top;
}

.tracknumber {
    color: gray;
    width: 6%;
    padding-top: 2px;
    padding-left: 2px;
}

.tracktitle {
    padding-top: 2px;
    padding-left: 4px;
}

#albums {
    position: fixed;
    top: 0;
    right: 2%;
    width: 25%;
    max-width: 300px;
    height: 95%;
    border-style: none;
}

button {
    position: fixed;
    font-size: 25px;
    text-align: center;
    border-style: none;
}

#poweroff {
    left: 5%;
    bottom: 5%;
}

#getcd {
    right: 30%;
    bottom: 5%;
}

.tracks {
    position: fixed;
    top: 0;
    left: 2%;
    width: 70%;
    height: 87%;
    border-style: none;
    overflow: scroll;
}

/*
.tracks {
    position: fixed;
    top: 0;
    left: 2%;
    width: 70%;
    height: 87%;
    border-style: none;
}

.cdcontrol {
    position: fixed;
    top: 40%;
    left: 2%;
    width: 70%;
    height: 47%;
    border-style: none;
}


#getcd {
    left: 23%;
    bottom: 5%;
}

#scrollup {
    left: 41%;
    bottom: 5%;
}

#scrolldown {
    left: 59%;
    bottom: 5%;
}*/
