@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    #albumtitle {
        background-color: black;
    }

    #artist {
        color: lightcyan;
    }

    #album {
        color: white;
    }

    .tracktitle {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    #albumtitle {
        background-color: white;
    }

    #artist {
        color: indigo;
    }

    #album {
        color: black;
    }

    .tracktitle {
        color: black;
    }
}

body {
    font-size: 22px;
}

.tracks::-webkit-scrollbar {
    display: none;
}

.tracks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    border-style: none;
    overflow: scroll;
}

#albumtitle {
    position: sticky;
    top: 0;
    width: 100%;
    font-weight: bold;
    padding-bottom: 6px;
}

#artist {
    padding-top: 0;
    padding-left: 2px;
    font-size: 25px;
}

#album {
    padding-top: 0;
    padding-left: 4px;
}

tr {
    vertical-align: text-top;
}

.tracknumber {
    color: gray;
    width: 6%;
    padding-top: 2px;
    padding-left: 2px;
}

.tracktitle {
    padding-top: 2px;
    padding-left: 4px;
}

#albums {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    border-style: none;
}