body {
    background-color: #98a39c;
}

.title {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: lightgray;
    font-weight: bold;
    line-height: 130%;
}

.artist {
    font-size: 130%;
    padding: 0 1%;
}

.album {
    color: slategray;
    font-size: 110%;
    padding: 0 2%;
}

.rate {
    color: red;
    font-size: 90%;
    padding: 0 4%;
}

.battery {
    font-size: 90%;
    padding: 0 4%;
}

.tracks {
    font-size: 110%;
    line-height: 170%;
    padding: 3% 0;
}

.tracknumber {
    color: white;
}

.tracktitle {
    color: black;
    padding: 0 3%;
}