body {
    background-color: gray;
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgray;
}

.tracks {
    font-size: 120%;
    line-height: 180%;
}