body {
    background-color: slategray;
}

button {
    position: fixed;
    border-radius: 20%;
    color: red;
    background-color: black;
    font-size: 180%;
    font-weight: bold;
    z-index: 3;
}

#showvolume {
    bottom: 2%;
    left: 3%;
}

#volume {
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 80%
}

#hidetracks {
    bottom: 2%;
    right: 3%;
}

#tracks {
    position: fixed;
    top: 2%;
    right: 3%;
    border-style: solid;
    z-index: 3;
}

#trackspicture {
    position: fixed;
    width: 40%;
    top: 2%;
    left: 3%;
    border-style: solid;
    z-index: 2;
}

#albums {
    position: fixed;
    top: 2%;
    height: 80%;
    padding-left: 3%;
    font-size: 150%;
    line-height: 180%;
    list-style-type: circle;
    z-index: 1;
}

.scroll {
    overflow: auto;
}

.unscroll {
    overflow: hidden;
}
