button {
    border-radius: 20%;
    color: red;
    background-color: black;
    font-size: 120%;
    position: fixed;
    top: 40%;
    font-weight: bold;
}

#showvolume {
    right: 4%;
}

#hidetracks {
    right: 10%;
}

ul {
    height: 90%;
    padding-left: 4%;
    font-size: 150%;
    line-height: 180%;
    list-style-type: circle;
}

.ffkk {
    overflow: hidden;
}