body {
    background-color: #cec5b7;
}

button {
    position: fixed;
    color: red;
    font-size: 130%;
    font-weight: bold;
    background-color: #cec5b7;
    width: 6%;
    text-align: center;
    padding: 0 0;
    border-radius: 20%;
    z-index: 3;
}

#showvolume {
    top: 5%;
    left: 3%;
}

#volume {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%
}

#hidetracks {
    top: 5%;
    right: 3%;
}

#tracks {
    position: fixed;
    top: 20%;
    right: 3%;
    width: 60%;
    height: 60%;
    border-style: none;
    z-index: 3;
}

#trackspicture {
    position: fixed;
    width: 30%;
    top: 20%;
    left: 3%;
    z-index: 2;
}

#albums {
    position: fixed;
    top: 10%;
    left: 0;
    height: 80%;
    width: 90%;
    font-size: 140%;
    line-height: 160%;
    list-style-type: circle;
    z-index: 1;
}

.scroll {
    overflow: auto;
}

.unscroll {
    overflow: hidden;
    filter: blur(10px);
    pointer-events: none;
}

.album {
    color: white;
}