@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    form {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    form {
        color: black;
    }
}

body {
    font-size: 20px;
}

form {
    position: fixed;
    bottom: 10%;
    left: 5%;
    width: 90%;
}

input {
    width: 100%;
}