@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    form {
        color: white;
    }

    button {
        color: white;
        background-color: black;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }

    form {
        color: black;
    }

    button {
        color: black;
        background-color: white;
    }
}

body {
    font-size: 20px;
}

button {
    position: fixed;
    left: 5%;
    top: 5%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-style: none;
}

form {
    position: fixed;
    bottom: 10%;
    left: 5%;
    width: 90%;
}

input {
    width: 100%;
}
