body {
    background-color: #cec5b7;
}

#albums {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-style: solid;
    z-index: 1;
}

#tracks {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    border-style: none;
    display: none;
    z-index: 2;
}