body {
    background-color: #cec5b7;
}

#albums {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    border-style: none;
}

#tracks {
    position: fixed;
    top: 15%;
    left: 0;
    width: 60%;
    height: 70%;
    border-style: none;
}

button {
    position: fixed;
    color: red;
    font-weight: bold;
    background-color: #cec5b7;
    width: 30px;
    text-align: center;
    padding: 2px 2px;
    border-radius: 20%;
}

#poweroff {
    left: 5%;
    top: 5%;
}

#volume {
    left: 5%;
    bottom: 5%;
}