.title {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #cec5b7;
    font-weight: bold;
}

.artist {
    padding: 0 1%;
    font-size: 110%;
}

.album {
    color: white;
    padding: 0 2%;
}

.rate {
    color: red;
    font-size: 90%;
    padding: 0 4%;
}

tr {
    vertical-align: text-top;
}

.tracknumber {
    color: white;
    width: 6%;
    padding: 1% 1%;
}

.tracktitle {
    padding: 1% 2%;
}
